HELP.md
**/target
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
!/.mvn/
!/mvnw
!/mvnw.cmd
!/.springformat
/flightschedule/src/main/resources/application-local.yml
